@model IEnumerable<Capstone.Models.DettaglioOrdine>

@{
    ViewBag.Title = "Carrello";
}

<style>
    .blue-text {
        color: #007BFF;
    }
</style>


<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <!-- Prodotti nel carrello -->
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Riepilogo Ordine</h1>
                                    </div>
                                    <hr class="my-4">
                                    @if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <div class="row mb-4">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="~/Content/Img/@item.Giochi.Immagine" class="img-fluid rounded-3" alt="Prodotto">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-black mb-0">@item.Giochi.TitoloDelGioco</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    @{
                                                        decimal tot = (item.Quantita * item.Giochi.Prezzo);
                                                    }
                                                    <h6 class="mb-0">@tot.ToString("C2")</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <button class="deleteBtn" data-product-id="@item.IdDettaglioOrdine">Rimuovi dal Carrello</button>
                                                    <div id="errorMessage" style="color: red;"></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>Il tuo carrello è vuoto.</p>
                                    }
                                    <hr class="my-4">
                                    <div class="pt-5">
                                        <h6 class="mb-0">
                                            <a href="Prodotti/CercaProdotti" class="text-body">
                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Continua i tuoi acquisti
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">
                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>
                                            @if (ViewBag.Totale != null)
                                            {
                                                @ViewBag.Totale.ToString("C2")
                                            }
                                            else
                                            {
                                                0.ToString("C2");
                                            }
                                        </h5>
                                    </div>
                                    <hr class="my-4">
                                    <button type="button" class="btn btn-primary" data-mdb-ripple-color="dark">
                                        Checkout
                                    </button>
                                    <button type="button" class="btn btn-danger" id="svuotaCarrello">
                                        Svuota Carrello
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        console.log("Script loaded.");

        $(document).on("click", "#svuotaCarrello", function () {
            $.ajax({
                method: 'POST',
                url: '/Carrello/SvuotaCarrello', 
                success: function (data) {
                    console.log('Success:', data);
                    if (data.success) {
                        // Ricarica la pagina o effettua altre azioni necessarie
                        location.reload();
                    } else {
                        // Mostra un messaggio di errore in un elemento HTML dedicato, se necessario
                        console.error('Errore durante lo svuotamento del carrello.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    // Mostra un messaggio di errore in un elemento HTML dedicato, se necessario
                    console.error('Errore durante la richiesta AJAX.');
                }
            });
        });
    });



        $(document).ready(function () {
    console.log("Script loaded.");

    $(document).on("click", ".deleteBtn", function () {
        var IdGioco = $(this).data('product-id');
        var btn = $(this);

        $.ajax({
            method: 'POST',
            url: '@Url.Action("RimuoviDalCarrello", "Carrello")',
            data: { id: IdGioco },
            success: function (data) {
                console.log('Success:', data);
                if (data.success) {
                    // Risali alla riga e rimuovila
                    btn.closest('.row').remove();
                } else {
                    // Mostra un messaggio di errore in un elemento HTML dedicato
                    $('#errorMessage').text('Si è verificato un errore durante la rimozione dal carrello.');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                // Mostra un messaggio di errore in un elemento HTML dedicato
                $('#errorMessage').text('Si è verificato un errore durante la rimozione dal carrello.');
            }
        });
    });
});

</script>
}