@model IEnumerable<Capstone.Models.Giochi>

@{
    ViewBag.Title = "Index";
}

<style>
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #000000;
            width: 14.28%;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000000;
            background-color: #00ff00;
            color: #000000;
        }

        .table tbody + tbody {
            border-top: 2px solid #F2F2F2;
        }

        .table .table {
            background-color: #F2F2F2;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F2F2F2;
    }

    .table-hover tbody tr:hover {
        background-color: #F2F2F2;
    }

    .table-primary,
    .table-primary > th,
    .table-primary > td {
        background-color: #F2F2F2;
    }

    .table-hover .table-primary:hover {
        background-color: #F2F2F2;
    }

        .table-hover .table-primary:hover > td,
        .table-hover .table-primary:hover > th {
            background-color: #F2F2F2;
        }

    .table i {
        font-size: 1rem;
        margin-right: 5px;
    }
</style>

<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped" style="background-color: #F2F2F2;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Utenti.Username)</th>
                    <th>Titolo Del Gioco</th>
                    <th>Immagine</th>
                    <th>Categoria</th>
                    <th>Prezzo</th>
                    <th>Data Di Inserimento</th>
                    <th>
                        <a href="Giochi/Create">
                            <i class="fa-solid fa-plus" style="color: #00FF00;"></i>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Utenti.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.TitoloDelGioco)</td>
                        <td>
                            <div class="w-25">
                                <img class="img-fluid" src="~/Content/img/@item.Immagine" alt="Alternate Text" />
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.CategoriaGiochi.NomeCategoria)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prezzo)€</td>
                        <td>@Html.DisplayFor(modelItem => item.DataDiInserimento)</td>
                        <td>
                            <a href="Giochi/Edit?id=@item.IdGioco">
                                <i class="fa-regular fa-pen-to-square" style="color: #FFA500;"></i>
                            </a>
                            <a href="Giochi/Details?id=@item.IdGioco">
                                <i class="fa-solid fa-circle-info" style="color: #4B0082;"></i>
                            </a>
                            <a href="Giochi/Delete?id=@item.IdGioco">
                                <i class="fa-regular fa-trash-can" style="color: #FF0000;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
